<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/js/bootstrap-3.3.7-dist/css/bootstrap.css">

    <link rel="stylesheet" href="/css/m.css">
    <script type="text/javascript" src="/js/jquery3.3.1.js"></script>
    <script type="text/javascript" src="/js/echarts.js"></script>
    <script type="text/javascript" src="/js/guangxi.js"></script>
    <script type="text/javascript" src="/js/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <title>广西北斗综合位置服务平台</title>
</head>
<body>
<div >
        <!--default默认主题 暗色调inverse-->
        <nav class="navbar navbar-default" style="background-color: #101D3E">
            <div class="navbar-header">
                <span class="navbar-brand" style="color:white;font-size: 25px;"><strong>广西北斗综合位置服务平台</strong></span>
            </div>
            <div id="nav1" class="collapse navbar-collapse">
                <ul class="nav navbar-nav top-menu " style="float: right;margin-top: 10px;padding-right: 50px;">
                    <li>
                        <a href="javascript:draw_circle();" >首页</a>
                    </li>
                    <li>
                        <a href="javascript:draw_circle();" >云联邦</a>
                    </li>
                    <li>
                        <a href="javascript:draw_map();">地域发展</a>
                    </li>
                    <li>
                        <a href="javascript:draw_force();" >信息交换</a>
                    </li>
                    <li>
                        <a href="javascript:draw_pie();" >系统分解</a>
                    </li>
                    <li>
                        <a href="javascript:draw_relationship();" >系统关联</a>
                    </li>
                    <li>
                        <a href="javascript:draw_bubble();" >服务质量</a>
                    </li>
                </ul>
            </div>
        </nav>
</div>
﻿<div class="sub_obligate">
    <span >北斗应用在线测评中心</span>
</div>

<div class="row" id="container_all">
    <div class="row col-md-2" id="container_left" style="margin-top: -45px">
            <div class="col-md-12 thumbnail " id="draw_circle"  name="综合">
                <a href = "javascript:void(0);" onclick ="remove_table()">
                    <img  src="/img/circle.png" alt="circle">
                </a>
            </div>
            <div class="col-md-12 thumbnail" id="draw_map" name="物联网区域发展测评">
                <a href = "javascript:void(0);" onclick ="remove_table()">
                    <img src="/img/map.png" alt="map">
                </a>
            </div>
            <div class="col-md-12 thumbnail" id="draw_force" name="广域物联网架构">
                <a href = "javascript:void(0);" onclick ="remove_table()">
                    <img  src="/img/force.jpg" alt="force">
                </a>
            </div>
            <div class="col-md-12 thumbnail" id="draw_pie" name="广西北斗+行业应用现状">
                <a href = "javascript:void(0);" onclick ="remove_table()">
                    <img src="/img/pie.png" alt="pie">
                </a>
            </div>
            <div class="col-md-12 thumbnail" id="draw_relationship" name="系统信息关联分析">
                <a href = "javascript:void(0);" onclick ="remove_table()">
                    <img src="/img/relationship.png" alt="relationship">
                </a>
            </div>
            <div class="col-md-12 thumbnail" id="draw_bubble" name="北斗应用服务系统在线评价">
                <a href = "javascript:void(0);" onclick ="remove_table()">
                    <img  src="/img/bubble.jpg" alt="bubble">
                </a>
            </div>
    </div>
    <div class="col-md-10 row" id="container_right">
        <div class="col-md-8" id="main">
        </div>
        <div class="col-md-4" id="table_data">
            <div id="circle_data"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/draw.js"></script>
</body>
</html>