<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.idap.mapper.CloudDataMapper" >
  <!--<resultMap type="order" id="orderMap">-->
  <!--&lt;!&ndash; id标签用于绑定主键 &ndash;&gt;-->
  <!--&lt;!&ndash; <id property="id" column="id"/> &ndash;&gt;-->

  <!--&lt;!&ndash; 使用result绑定普通字段 &ndash;&gt;-->
  <!--<result property="userId" column="user_id"/>-->
  <!--<result property="number" column="number"/>-->
  <!--<result property="createtime" column="createtime"/>-->
  <!--<result property="note" column="note"/>-->
  <!--</resultMap>-->

  <!--根据level查询每个云-->
  <select id="getCloudSort" parameterType="int" resultType="Cloudsort">
       SELECT  s.* FROM [TB_IADP_CLOUDSORT] s where s.level = ${level}
    </select>

  <!--根据cloudcode取出指标+数据-->
  <select id="getIndexData" parameterType="int" resultType="CloudAllData">
        SELECT  d.INDEXCODE,d.DATA FROM [TB_IADP_CLOUDATA3] d where d.year =2018 and d.CLOUDCODE = ${cloudcode}
    </select>

  <!--根据cloudcode取出指标+中文与单位名-->
  <select id="getIndexChinese" parameterType="int"  resultType="CloudData">
       SELECT  d.INDEXCODE,d.UNIT,d.CHINESENAME FROM [TB_IADP_CLOUDATA2] d where d.CLOUDCODE = ${cloudcode}
    </select>

    <!--查询三年（2016、2017、2018）的用户量数据-->
    <select id="getYearsData"  resultType="CloudAllData">
       SELECT  d.DATA,d.YEAR  FROM  [TB_IADP_CLOUDATA3] d where  d.INDEXCODE = 'A001'
    </select>
</mapper>